<!DOCTYPE html>
<html>
<head>
    <title>Simple HTML Page</title>
</head>
<body>
    {% comment %} there are the some the filters that are used in the code that make it more actrative {% endcomment %}
    {% comment %} this is used for the find the lenght  {% endcomment %}
    <h1> {{cn|length }} </h1>   
    {% comment %} this is can used to make the lower to the chracter {% endcomment %}
    <h1> {{cn| upper}}  </h1>
    {% comment %} this is can uesd to add the join:", " in the chracter thats can find tha vlaue {% endcomment %}
    <h1> {{cn| join:", "}} 
        </h1>


    
</body>
</html>
